@using BusinessLayer.Views
@using Kendo.Mvc.UI

@{
    ViewData["Title"] = "Specialization";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var equipment = (List<SpecializationView>)ViewData["Specialization"];
}

<div class="card">
    
    <div class="card-header">
        <h5>Equipment and Materials</h5>
    </div>
    <div class="card-block">

        @(Html.Kendo().Grid(equipment)
              .Name("Grid")
              .Columns(columns =>
              {
                  columns.Bound(p => p.ShortName).Title("ShortName").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.FullName).Title("FullName").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.Department.FullName).Title("Department").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.Level).Title("Level").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.KeyPersonelString).Title("Key Personel").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
              })
              .ToolBar(tools => tools.Excel())
              .Excel(excel => excel
                  .FileName("Specializations.xlsx")
                  .Filterable(true)
                  .AllPages(true)
                  .ProxyURL(Url.Action("ExcelExport", "Excel"))
              )
              .Scrollable(scrollable => scrollable.Height(550))
              .Reorderable(reorderable => reorderable.Columns(true))
              .Resizable(resizable => resizable.Columns(true))
              .Pageable()
              .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
              .Sortable()
              .Groupable()
              .ColumnMenu()
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .PageSize(250)
                  .ServerOperation(false)
                  .Read(read => read.Action("", ""))
              ))
    </div>
</div>