@using WebDevelopment.Infrastructude
@model ModalDeleteView

@using (Html.BeginForm(@Model.ActionName, Model.ControllerName, new { aircraftId = GlobalObject.AircraftId, id = Model.DeleteId}, FormMethod.Post))
{
    <div class="modal-content">

        

        <div class="modal-body">
            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <h4>@Model.Message</h4>
            }
            else
            {
                <h4>Do you want delete this item?</h4>
            }

        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-success waves-effect">Yes</button>
        </div>

    </div>
}
