@using Kendo.Mvc.UI
@using WebDevelopment.Helper
@using WebDevelopment.Infrastructude
@model List<BusinessLayer.Views.WorkPackageRecordView>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AircraftLayout.cshtml";
}

    <div class="card">
        <div class="card-header">
            <h5>Work Package</h5>
        </div>
        <div class="card-block">
            @(Html.Kendo().Grid(Model)
                  .Name("Grid")
                  .Columns(columns =>
                  {
                      columns.Bound(p => p.Task.Type).Title("Type").Width(200);
                      columns.Bound(p => p.Task.AtaChapterView).Title("ATA").Width(200);
                      columns.Bound(p => p.Task.Title).Title("Title").Width(200);
                      columns.Bound(p => p.Task.Description).Title("Description").Width(200);
                      columns.Bound(p => p.Task.FirstPerformance).Title("Performance").Width(200);
                      columns.Bound(p => p.Task.RepeatInterval).Title("Rpt. Intv.").Width(200);
                      columns.Bound(p => p.Task.WorkType).Title("Work Type").Width(200);
                      columns.Bound(p => p.Task.NDT).Title("NDT").Width(200);
                      columns.Bound(p => p.Task.PerfDate).Title("Perf. Date").Width(200);
                      columns.Bound(p => p.Task.MH).Title("MH").Width(200);
                      columns.Bound(p => p.Task.KMH).Title("K*MH").Width(200);
                      columns.Bound(p => p.Task.Cost).Title("Cost").Width(200);

                  })
                  .ToolBar(tools => tools.Excel())
                  .Excel(excel => excel
                      .FileName("WorkPackageRecord.xlsx")
                      .Filterable(true)
                      .AllPages(true)
                      .ProxyURL(Url.Action("ExcelExport", "Excel"))
                  )
                  .Scrollable(scrollable => scrollable.Height(550))
                  .Reorderable(reorderable => reorderable.Columns(true))
                  .Resizable(resizable => resizable.Columns(true))
                  .Pageable()
                  .Filterable()
                  .Sortable()
                  .Groupable()
                  .ColumnMenu()
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .PageSize(250)
                      .ServerOperation(false)
                      .Read(read => read.Action("", ""))
                  ))

        </div>
    </div>

