@using BusinessLayer.Views
@using Kendo.Mvc.UI

@{
    ViewData["Title"] = "Suppliers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var supplier = (List<SupplierView>)ViewData["Suppliers"];
}

    <div class="card">
        <div class="card-header">
            <h5>Initial Order</h5>
        </div>
        <div class="card-block">

            @(Html.Kendo().Grid(supplier)
                  .Name("Grid")
                  .Columns(columns =>
                  {

                      columns.Bound(p => p.Name).Title("Name").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.AirCode).Title("AirCode").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Subject).Title("Subject").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Phone).Title("Phone").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Fax).Title("Fax").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Address).Title("Address").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.ContactPerson).Title("Contact Person").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Email).Title("Email").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.WebSite).Title("Web Site").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Products).Title("Products").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.SupplierClass.ShortName).Title("SupplierType").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.ListViewApproved).Title("Approved").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Remarks).Title("Remarks").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.ShortName).Title("Short Name").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.VendorCode).Title("Vendor Code").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  })
                  .ToolBar(tools => tools.Excel())
                  .Excel(excel => excel
                      .FileName("Suppliers.xlsx")
                      .Filterable(true)
                      .AllPages(true)
                      .ProxyURL(Url.Action("ExcelExport", "Excel"))
                  )
                  .Scrollable(scrollable => scrollable.Height(550))
                  .Reorderable(reorderable => reorderable.Columns(true))
                  .Resizable(resizable => resizable.Columns(true))
                  .Pageable()
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .Sortable()
                  .Groupable()
                  .ColumnMenu()
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .PageSize(250)
                      .ServerOperation(false)
                      .Read(read => read.Action("", ""))
                  ))

        </div>
    </div>

