@using BusinessLayer.Views
@using Kendo.Mvc.UI
@using WebDevelopment.Helper

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var components = (List<ComponentView>)ViewData["Components"];
    var fileCrs = @Url.Action("OpenPdf", "File", new { fileId = "_FILEID_" });
    var fileShip = @Url.Action("OpenPdf", "File", new { fileId = "_FILEID_" });
}

<div class="card">
    <div class="card-header">
        <h5>Inventory Control</h5>
    </div>
    <div class="card-block">
        @(Html.Kendo().Grid(components)
              .Name("Grid")
              .Columns(columns =>
              {
                  columns.Bound(p => p.ShippingFileId).ClientTemplate(KendoHelper.PdfButton(Url.Action("OpenPdf", "File"), new Dictionary<string, string>
                  {
                      {"CRSFileId", "CRS" },
                      {"ShippingFileId", "Shipping" }
                  })).Title(" ").Width(120).Sortable(false).Groupable(false).Filterable(false);
                  columns.Bound(p => p.ParentStore.StoreName).Title("Store").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.ATAChapterString).Title("ATA").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.ReferenceProduct).Title("Reference").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.PartNumber).Title("Part. №").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.AltPartNumberProduct).Title("Alt Part. №").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.StandardProduct).Title("Standart").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.ModelProduct).Title("Name").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.Description).Title("Description").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.SerialNumber).Title("Serial №").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.BatchNumber).Title("Batch №").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.IdNumber).Title("ID №").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.GoodsClass.ShortName).Title("Class").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.StateString).Title("State").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.Status).Title("Status").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.Location.FullName).Title("Location").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.Location.LocationsType.FullName).Title("Facility").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.Quantity).Title("Current").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.ShouldBeOnStockString).Title("Should be").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.QuantityInString).Title("Qty in").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.FromSupplier.Name).Title("Supplier").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  columns.Bound(p => p.Remarks).Title("Remarks").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
              })
              .ToolBar(tools => tools.Excel())
              .Excel(excel => excel
                  .FileName("Inventory Control.xlsx")
                  .Filterable(true)
                  .AllPages(true)
                  .ProxyURL(Url.Action("ExcelExport", "Excel"))
              )
              .Scrollable(scrollable => scrollable.Height(550))
              .Reorderable(reorderable => reorderable.Columns(true))
              .Resizable(resizable => resizable.Columns(true))
              .Pageable()
              .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
              .Sortable()
              .Groupable()
              .ColumnMenu()
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .PageSize(250)
                  .ServerOperation(false)
                  .Read(read => read.Action("", ""))
              ))
    </div>
</div>


