@using BusinessLayer.Views
@using Kendo.Mvc.UI

@{
    ViewData["Title"] = "Initial";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var initial = (List<InitialOrderView>)ViewData["InitialOrders"];
}

<div class="card">
    <div class="card-header">
        <h5>Initial Order</h5>
    </div>
    <div class="card-block">

        @(Html.Kendo().Grid(initial)
              .Name("Grid")
              .Columns(columns =>
              {

                  columns.Bound(p => p.Number).Title("Order No").Width(200);
                  columns.Bound(p => p.Title).Title("Title").Width(200);
                  columns.Bound(p => p.OpeningDate).Title("Opening Date").Width(200).ClientTemplate("#= kendo.toString(OpeningDate, \"dd.MM.yyyy\") #");
                  columns.Bound(p => p.PublishingDate).Title("Publishing Date").Width(200).ClientTemplate("#= kendo.toString(PublishingDate, \"dd.MM.yyyy\") #");
                  columns.Bound(p => p.ClosingDate).Title("Closing Date").Width(200).ClientTemplate("#= kendo.toString(ClosingDate, \"dd.MM.yyyy\") #");
                  columns.Bound(p => p.Author).Title("Author").Width(200);
                  columns.Bound(p => p.PublishedByUser).Title("Published By").Width(200);
                  columns.Bound(p => p.CloseByUser).Title("Closed By").Width(200);
                  columns.Bound(p => p.Remarks).Title("Remark").Width(200);
              })
              .ToolBar(tools => tools.Excel())
              .Excel(excel => excel
                  .FileName("Initial Order.xlsx")
                  .Filterable(true)
                  .AllPages(true)
                  .ProxyURL(Url.Action("ExcelExport", "Excel"))
              )
              .Scrollable(scrollable => scrollable.Height(550))
              .Reorderable(reorderable => reorderable.Columns(true))
              .Resizable(resizable => resizable.Columns(true))
              .Pageable()
              .Filterable()
              .Sortable()
              .Groupable()
              .ColumnMenu()
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .PageSize(250)
                  .ServerOperation(false)
                  .Read(read => read.Action("", ""))
              ))

    </div>
</div>


