@using BusinessLayer.Views
@using Kendo.Mvc.UI
@using WebDevelopment.Helper
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var documents = (List<DocumentView>) ViewData["Documents"];
    var modalUrl = @Url.Action("Modal", "Document", new {id = "_DOCID_"});
    var fileUrl = @Url.Action("OpenPdf", "File", new {fileId = "_FILEID_" });
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Documents</h5>
            </div>
            <div class="card-block">

                @(Html.Kendo().Grid(documents)
                .Name("Grid")
                .Columns(columns =>
                {

                    columns.Bound(p => p.FileId).ClientTemplate(KendoHelper.PdfButton(Url.Action("OpenPdf", "File"), "FileId")).Title(" ").Width(60).Sortable(false).Groupable(false);
                    columns.Bound(p => p.DocumentType.FullName).Title("Type").Width(130);
                    columns.Bound(p => p.DocumentSubType.Name).Title("Title").Width(130);
                    columns.Bound(p => p.ContractNumber).Title("№ Doc").Width(130);
                    columns.Bound(p => p.Description).Title("Description").Width(130);
                    columns.Bound(p => p.IssueDateValidFrom).Title("Issue").Width(130).ClientTemplate("#= kendo.toString(IssueDateValidFrom, \"dd.MM.yyyy\") #");
                    columns.Bound(p => p.IssueNumber).Title("№ Issue").Width(130);
                    columns.Bound(p => p.IssueDateValidTo).Title("Valid To").Width(130).ClientTemplate("#= kendo.toString(IssueDateValidTo, \"dd.MM.yyyy\") #");
                    
                    columns.Bound(p => p.RevisionDateFrom).Title("Rev.Date").Width(130).ClientTemplate("#= kendo.toString(RevisionDateFrom, \"dd.MM.yyyy\") #");
                    columns.Bound(p => p.RevNumber).Title("№ Rev.").Width(130);
                    columns.Bound(p => p.RevisionDateValidToString).Title("Valid To").Width(130);

                })
                .ToolBar(tools => tools.Excel())
                .Excel(excel => excel
                    .FileName("Documents.xlsx")
                    .Filterable(true)
                    .AllPages(true)
                    .ProxyURL(Url.Action("ExcelExport", "Excel"))
                )
                .Scrollable(scrollable => scrollable.Height(630))
                .Reorderable(reorderable => reorderable.Columns(true))
                .Resizable(resizable => resizable.Columns(true))
                .Pageable()
                .Filterable()
                .Sortable()
                .Groupable()
                .ColumnMenu()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(250)
                    .ServerOperation(false)
                    .Read(read => read.Action("", ""))
                      ))

            </div>
        </div>
    </div>
</div>