@using BusinessLayer.Views
@using Kendo.Mvc.UI

@{
    ViewData["Title"] = "ComponentModels";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var model = (List<ComponentModelView>)ViewData["ComponentModels"];
}

<div class="card">
    <div class="card-header">
        <h5>Component Models</h5>
    </div>
    <div class="card-block">
        @(Html.Kendo().Grid(model)
              .Name("Grid")
              .Columns(columns =>
              {
                  columns.Bound(p => p.Model).Title("Name").Width(130);
                  columns.Bound(p => p.Reference).Title("Reference").Width(130);
                  columns.Bound(p => p.SubModel).Title("Series").Width(130);
                  columns.Bound(p => p.PartNumber).Title("Part Number").Width(130);
                  columns.Bound(p => p.AltPartNumber).Title("Alt Part Number").Width(130);
                  columns.Bound(p => p.Description).Title("Description").Width(130);
                  columns.Bound(p => p.Manufacturer).Title("Manufacturer").Width(130);
                  columns.Bound(p => p.Code).Title("Code").Width(130);
                  columns.Bound(p => p.DescRus).Title("Description Rus").Width(130);
                  columns.Bound(p => p.ComponentClassString).Title("Class").Width(130);
                  columns.Bound(p => p.AtaChapterString).Title("ATA").Width(130);
                  columns.Bound(p => p.CostNew).Title("Cost new").Width(130);
                  columns.Bound(p => p.CostOverhaul).Title("Cost OH").Width(130);
                  columns.Bound(p => p.CostServiceable).Title("Cost Serviceable").Width(130);
                  columns.Bound(p => p.Remarks).Title("Remarks").Width(130);
                  columns.Bound(p => p.IsEffectivity).Title("Effectivity").Width(130);
                  columns.Bound(p => p.IsDangerousString).Title("IsDangerous").Width(130);
              })
              .ToolBar(tools => tools.Excel())
              .Excel(excel => excel
                  .FileName("ComponenModels.xlsx")
                  .Filterable(true)
                  .AllPages(true)
                  .ProxyURL(Url.Action("ExcelExport", "Excel"))
              )
              .Scrollable(scrollable => scrollable.Height(630))
              .Reorderable(reorderable => reorderable.Columns(true))
              .Resizable(resizable => resizable.Columns(true))
              .Pageable()
              .Filterable()
              .Sortable()
              .Groupable()
              .ColumnMenu()
              .DataSource(dataSource => dataSource        
                  .Ajax()
                  .PageSize(20)
                  .ServerOperation(false)
                  .Read(read => read.Action("ExcelExportModel", "Product"))
              ))
    </div>
</div>

