@using Kendo.Mvc.UI
@using WebDevelopment.Helper
@model List<BusinessLayer.Views.MaintenanceDirectiveView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AircraftLayout.cshtml";
}


    <div class="card">
        <div class="card-header">
            <h5>Maintenance Directive</h5>
        </div>
        <div class="card-block">

            @(Html.Kendo().Grid(@Model)
                  .Name("Grid")
                  .Columns(columns =>
                  {
                      columns.Bound(p => p).ClientTemplate(KendoHelper.PdfButton(Url.Action("OpenPdf", "File"), new Dictionary<string, string>
                      {
                          {"TaskCardNumberId", "Task Card No" }
                      })).Title(" ").Width(60).Sortable(false).Groupable(false).Filterable(false);
                      columns.Bound(p => p.ScheduleItem).Title("AMP").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.TaskNumberCheck).Title("MPD Item").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.TaskCardNumber).Title("Task Card №").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Description).Title("Description").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.ProgramString).Title("Program").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.ProgramIndicatorString).Title("Program Indicator").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.WorkType.FullName).Title("Work Type").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.MaintenanceCheckId).Title("Check").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Zone).Title("Zone").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Workarea).Title("Work Area").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Access).Title("Access").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.MPDTaskNumber).Title("Doc. No").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.MaintenanceManual).Title("Maint. Manual").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.MRB).Title("MRB").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.MpdOldTaskCard).Title("Old Task Card Number").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.CriticalSystem.FullName).Title("Critical System").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.AtaString).Title("ATA Chapter").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.KitsApplicable).Title("Kit").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.NDTType.ShortName).Title("NDT").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Skill.ShortName).Title("Skill").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Category.ShortName).Title("Category").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Elapsed).Title("Elapsed M.H.").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.ManHours).Title("M.H.").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Cost).Title("Cost").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Applicability).Title("Applicability").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.Remarks).Title("Remarks").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                      columns.Bound(p => p.HiddenRemarks).Title("Hidden remarks").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(200);
                  })
                  .ToolBar(tools => tools.Excel())
                  .Excel(excel => excel
                      .FileName("Maintenance Directive.xlsx")
                      .Filterable(true)
                      .AllPages(true)
                      .ProxyURL(Url.Action("ExcelExport", "Excel"))
                  )
                  .Scrollable(scrollable => scrollable.Height(550))
                  .Reorderable(reorderable => reorderable.Columns(true))
                  .Resizable(resizable => resizable.Columns(true))
                  .Pageable()
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .Sortable()
                  .Groupable()
                  .ColumnMenu()
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .PageSize(250)
                      .ServerOperation(false)
                      .Read(read => read.Action("", ""))
                  ))

        </div>
    </div>
