@using Kendo.Mvc.UI
@using WebDevelopment.Helper
@model List<BusinessLayer.Views.MaintenanceDirectiveView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AircraftLayout.cshtml";
}


    <div class="card">
        <div class="card-header">
            <h5>Maintenance Directive</h5>
        </div>
        <div class="card-block">

            @(Html.Kendo().Grid(@Model)
                  .Name("Grid")
                  .Columns(columns =>
                  {
                      columns.Bound(p => p).ClientTemplate(KendoHelper.PdfButton(Url.Action("OpenPdf", "File"), new Dictionary<string, string>
                      {
                          {"TaskCardNumberId", "Task Card No" },
                          {"TaskNumberCheckId", "Task Card No Check" },
                          {"MRBId", "MRB" },
                          {"MaintenanceManualId", "Maintenance Manual" },
                          {"EOId", "EO" }
                      })).Title(" ").Width(180).Sortable(false).Groupable(false);
                      columns.Bound(p => p.ScheduleItem).Title("AMP").Width(130);
                      columns.Bound(p => p.TaskNumberCheck).Title("MPD Item").Width(130);
                      columns.Bound(p => p.TaskCardNumber).Title("Task Card №").Width(130);
                      columns.Bound(p => p.Description).Title("Description").Width(130);
                      columns.Bound(p => p.ProgramString).Title("Program").Width(130);
                      columns.Bound(p => p.ProgramIndicatorString).Title("Program Indicator").Width(130);
                      columns.Bound(p => p.WorkType.FullName).Title("Work Type").Width(130);
                      columns.Bound(p => p.MaintenanceCheckId).Title("Check").Width(130);
                      //columns.Bound(p => p.).Title("1st. Perf.").Width(130);
                      //columns.Bound(p => p.).Title("Rpt. Intv.").Width(130);
                      //columns.Bound(p => p.).Title("Next").Width(130);
                      //columns.Bound(p => p.).Title("Remain/Overdue").Width(130);
                      //columns.Bound(p => p.).Title("Last").Width(130);
                      columns.Bound(p => p.Zone).Title("Zone").Width(130);
                      columns.Bound(p => p.Workarea).Title("Work Area").Width(130);
                      columns.Bound(p => p.Access).Title("Access").Width(130);
                      //columns.Bound(p => p.).Title("Status").Width(130);
                      columns.Bound(p => p.MPDTaskNumber).Title("Doc. No").Width(130);
                      columns.Bound(p => p.MaintenanceManual).Title("Maint. Manual").Width(130);
                      columns.Bound(p => p.MRB).Title("MRB").Width(130);
                      columns.Bound(p => p.MpdOldTaskCard).Title("Old Task Card Number").Width(130);
                      columns.Bound(p => p.CriticalSystem.FullName).Title("Critical System").Width(130);
                      columns.Bound(p => p.AtaString).Title("ATA Chapter").Width(130);
                      columns.Bound(p => p.KitsApplicable).Title("Kit").Width(130);
                      columns.Bound(p => p.NDTType.ShortName).Title("NDT").Width(130);
                      columns.Bound(p => p.Skill.ShortName).Title("Skill").Width(130);
                      columns.Bound(p => p.Category.ShortName).Title("Category").Width(130);
                      columns.Bound(p => p.Elapsed).Title("Elapsed M.H.").Width(130);
                      columns.Bound(p => p.ManHours).Title("M.H.").Width(130);
                      columns.Bound(p => p.Cost).Title("Cost").Width(130);
                      columns.Bound(p => p.Applicability).Title("Applicability").Width(130);
                      columns.Bound(p => p.Remarks).Title("Remarks").Width(130);
                      columns.Bound(p => p.HiddenRemarks).Title("Hidden remarks").Width(130);
                  })
                  .ToolBar(tools => tools.Excel())
                  .Excel(excel => excel
                      .FileName("Maintenance Directive.xlsx")
                      .Filterable(true)
                      .AllPages(true)
                      .ProxyURL(Url.Action("ExcelExport", "Excel"))
                  )
                  .Scrollable(scrollable => scrollable.Height(630))
                  .Reorderable(reorderable => reorderable.Columns(true))
                  .Resizable(resizable => resizable.Columns(true))
                  .Pageable()
                  .Filterable()
                  .Sortable()
                  .Groupable()
                  .ColumnMenu()
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .PageSize(250)
                      .ServerOperation(false)
                      .Read(read => read.Action("", ""))
                  ))

        </div>
    </div>
