@using Kendo.Mvc.UI
@using WebDevelopment.Helper
@model List<BusinessLayer.Views.DirectiveView>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AircraftLayout.cshtml";
}

    <div class="card">
        <div class="card-header">
            <h5>AD Status All</h5>
        </div>
        <div class="card-block">
            
            @(Html.Kendo().Grid(Model)
                  .Name("Grid")
                  .Columns(columns =>
                  {
                      columns.Bound(p => p).ClientTemplate(KendoHelper.PdfButton(Url.Action("OpenPdf", "File"), new Dictionary<string, string>
                      {
                          {"EngineeringOrderFileID", "Engineering Order" },
                          {"ServiceBulletinFileID", "Service Bulletin" },
                          {"ADFileID", "AD File" }
                      })).Title(" ").Width(140).Sortable(false).Groupable(false);
                      columns.Bound(p => p.AdNo).Title("AD No").Width(120);
                      columns.Bound(p => p.SbNo).Title("SB No").Width(120);
                      columns.Bound(p => p.EoNo).Title("EO No").Width(120);
                      columns.Bound(p => p.Applicability).Title("Applicabilty").Width(120);
                      columns.Bound(p => p.Description).Title("Description").Width(120);
                      //columns.Bound(p => p.).Title("Next").Width(120);
                      //columns.Bound(p => p.AtlbStatusString).Title("Last").Width(120);
                      //columns.Bound(p => p.AtlbStatusString).Title("Rpt. Intv.").Width(120);
                      //columns.Bound(p => p.AtlbStatusString).Title("Remain/Overdue").Width(120);
                      //columns.Bound(p => p.st).Title("Status").Width(120);
                      columns.Bound(p => p.Remarks).Title("Remarks").Width(120);
                      //columns.Bound(p => p.).Title("Effective date").Width(120);
                      columns.Bound(p => p.Zone).Title("Zone").Width(120);
                      columns.Bound(p => p.Workarea).Title("Work Area").Width(120);
                      columns.Bound(p => p.Access).Title("Access").Width(120);
                      columns.Bound(p => p.WorkType.FullName).Title("Work Type").Width(120);
                      columns.Bound(p => p.StcNo).Title("STC No").Width(120);
                      //columns.Bound(p => p.AtlbStatusString).Title("1st. Perf.").Width(120);
                      columns.Bound(p => p.AtaString).Title("ATA Chapter").Width(120);
                      //columns.Bound(p => p.ba).Title("Base Detail").Width(120);
                      //columns.Bound(p => p.Kits).Title("Kit").Width(120);
                      columns.Bound(p => p.NDTType.ShortName).Title("NDT").Width(120);
                      columns.Bound(p => p.ManHours).Title("M.H.").Width(120);
                      columns.Bound(p => p.Cost).Title("Cost").Width(120);
                      columns.Bound(p => p.HiddenRemarks).Title("Hidden remarks").Width(120);
                  })
                  .ToolBar(tools => tools.Excel())
                  .Excel(excel => excel
                      .FileName("AD Status All.xlsx")
                      .Filterable(true)
                      .AllPages(true)
                      .ProxyURL(Url.Action("ExcelExport", "Excel"))
                  )
                  .Scrollable(scrollable => scrollable.Height(630))
                  .Reorderable(reorderable => reorderable.Columns(true))
                  .Resizable(resizable => resizable.Columns(true))
                  .Pageable()
                  .Filterable()
                  .Sortable()
                  .Groupable()
                  .ColumnMenu()
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .PageSize(250)
                      .ServerOperation(false)
                      .Read(read => read.Action("", ""))
                  ))

        </div>
    </div>