@using Kendo.Mvc.UI
@using WebDevelopment.Helper
@using WebDevelopment.Infrastructude
@model List<BusinessLayer.Views.ComponentView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AircraftLayout.cshtml";
}


<h1>Кодер тут табла должна быть!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>