@using Kendo.Mvc.UI
@using WebDevelopment.Helper
@using WebDevelopment.Infrastructude
@model List<BusinessLayer.Views.ATLBView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AircraftLayout.cshtml";
}


@(Html.Kendo().Window()
      .Name("EditAtlb")
      .Title("ATLB Adding Form")
      .Modal(true)
      .Visible(false)
      .Height(550)
      .Width(555)
      .Draggable()
      .Animation(animation =>
          {
              animation.Open(open =>
              {
                  open.Expand(ExpandDirection.Vertical);
              open.Fade(FadeDirection.In);
          });

          animation.Close(close =>
          {
              close.Reverse(true);
              close.Expand(ExpandDirection.Vertical);
              close.Fade(FadeDirection.In);
          });
      })
)

@(Html.Kendo().Window()
      .Name("Delete")
      .Title("Confirm Delete")
      .Modal(true)
      .Visible(false)
      .Height(180)
      .Width(350)
      .Draggable()
      .Animation(animation =>
          {
              animation.Open(open =>
              {
                  open.Expand(ExpandDirection.Vertical);
              open.Fade(FadeDirection.In);
          });

          animation.Close(close =>
          {
              close.Reverse(true);
              close.Expand(ExpandDirection.Vertical);
              close.Fade(FadeDirection.In);
          });
      })
)

<div class="card">
    <div class="card-header">
        <h5>ATLBs</h5>
    </div>
    <div class="card-block">
        <a href="" , class="modalLargeBtn btn btn-primary m-b-5 m-t-5" onclick="OpenModal('@Url.Action("ModalCreate","ATLB",new {GlobalObject.AircraftId},Context.Request.Scheme)', 'EditAtlb')">
            + Add New
        </a>
        @(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
              {
                  columns.Bound(p => p.Id)
                      .ClientTemplate(
                          KendoHelper.Button(Url.Action("Index", "AircraftFlight", new { GlobalObject.AircraftId }), "atlbId", "Id", ButtonType.Open)+
                          KendoHelper.ButtonModal(Url.Action("ModalEdit", "ATLB", new { GlobalObject.AircraftId },Context.Request.Scheme), "atlbId", "Id", ButtonType.Edit, "EditAtlb")
                          //KendoHelper.ButtonModal(Url.Action("ConfirmDelete", "ATLB", new { GlobalObject.AircraftId },Context.Request.Scheme), "id", "Id", ButtonType.Delete, "Delete")
                  ).Width(90).Title(" ");
                  columns.Bound(p => p.ATLBNo).Title("ATLB №").Width(120);
                  columns.Bound(p => p.Pages).Title("Pages").Width(120);
                  columns.Bound(p => p.Dates).Title("Date").ClientTemplate("#= kendo.toString(OpeningDate, \"dd.MM.yyyy\") #").Width(120);
                  columns.Bound(p => p.AtlbStatusString).Title("Status").Width(120);
              })
              .ToolBar(tools => tools.Excel())
              .Excel(excel => excel
                  .FileName("ATLBs.xlsx")
                  .Filterable(true)
                  .AllPages(true)
                  .ProxyURL(Url.Action("ExcelExport", "Excel"))
              )
              .Scrollable(scrollable => scrollable.Height(630))
              .Reorderable(reorderable => reorderable.Columns(true))
              .Resizable(resizable => resizable.Columns(true))
              .Pageable()
              .Filterable()
              .Sortable()
              .Groupable()
              .ColumnMenu()
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .PageSize(20)
                  .ServerOperation(false)
                  .Read(read => read.Action("", ""))
              ))

    </div>
</div>
